---
import { Image } from "astro:assets";
import Logo from "../../public/logo.svg";

function addItems(l: string[], l2: string[]) {
    let x = [];
    for (let i in l) {
        x.push({ text: l[i], url: l2[i] });
    }
    return x;
}
const entrada = addItems(
    ["Peticiones", "Bases de datos", "Portafolio", "Contacto"],
    // ["", "bases-de-datos", "portafolio", "contacto"],
    ["/", "bases-de-datos", "portafolio", "contacto"],
);
---

<header class="header bg-gradient-to-br from-orange-600/90 to-orange-400">
    <nav class="var min-h-24">
        <div id="nav" class="min-w-[28%] flex">
            <Image src={Logo} alt="foto del icono" width={60} height={60} />
            <h1
                class="text-2xl md:text-3xl lg:text-4xl font-semibold first-letter:text-3xl first-letter:md:text-4xl first-letter:lg:text-5xl first-letter:capitalize"
            >
                fetchToMysql
            </h1>
        </div>

        <!-- menu de amburguesa -->
        <label class="relative me-[10px]">
            <div>
                <div
                    class="border-slate-50 rounded-md border sm:border-0 relative hover:cursor-pointer"
                >
                    <div class="sm:hidden relative">
                        <div
                            class="w-14 h-10 cursor-pointer flex flex-col items-center justify-center"
                        >
                            <div
                                class="w-[50%] h-[2px] bg-slate-50 rounded-sm transition-all duration-300 origin-left translate-y-[0.70rem]"
                            >
                            </div>
                            <div
                                class="w-[50%] h-[2px] bg-slate-50 rounded-md transition-all duration-300 origin-center"
                            >
                            </div>
                            <div
                                class="w-[50%] h-[2px] bg-slate-50 rounded-md transition-all duration-300 origin-left -translate-y-[0.70rem]"
                            >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="checkbox" class="peer invisible" />
            <ul
                class="justify-evenly items-center hidden peer-checked:flex peer-checked:sm:hidden peer-checked:bg-gradient-to-l from-slate-50 to-slate-200 absolute top-[4.3rem] -right-[10px] w-[100vw] h-12 underline-1 underline-offset-4"
            >
                {
                    entrada.map((e) => (
                        <li class="hover:underline hover:text-slate-600 text-sm">
                            <a href={e.url}>{e.text}</a>
                        </li>
                    ))
                }
            </ul>
        </label>

        <!-- menu principal -->
        <ul
            class="sm:flex max-h-[60px] justify-end flex-col sm:gap-2 md:gap-5 lg:gap-8 me-[10px] text-white sm:flex-row items-center transition text-center hidden"
        >
            {
                entrada.map((e) => (
                    <li class="hover:underline underline-1 underline-offset-4 hover:text-gray-900/80 text-nowrap  sm:text-lg md:text-xl font-normal lg:text-xl ">
                        <a
                            class:list={[
                                "transition no-ani-color",
                                {
                                    "bg-white text-black hover:text-gray-900/80 active:bg-slate-200/90 p-4 py-1 ":
                                        e.text === "Contacto",
                                },
                            ]}
                            href={e.url}
                        >
                            {e.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
<style></style>
